:root {
  --accent-base: #1db954;
  --accent-light: #2bde6a;
  --fg-base: #191414;
  --fg-light: #362b2b;
  --bg-base: #f0f0f0;
  --bg-light: #ffffff;
  --nt-base: #666666;
  --nt-light: #999999;
  --focus-outline: #168d40;
  --radius-sm: 2px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--fg-base);
}

li[class] {
  list-style: none;
}
